body {
	background-color: #62374e;
}

.container {
	display: grid;
	grid-template-columns: auto auto;
	width: 98vw;
	height: 98vh;
}

.box {
	background-color: #fdc57b;
	width: 5vw;
	height: 5vw;
	margin: 7vw;
}

.right {
	justify-self: flex-end;
}

.bottom {
	align-self: flex-end;
}